.navName {
    float: left;
}
.listLinks {
    text-decoration: none;
    color: white;
}
#name {
    color: white;
}
.navLinks {
    float: right;
    display: inline-block;
}
.navClear {
    clear: both;
}
.navBar {
    display: inline-block;
    list-style-type: none;
    color: white;
    padding: 10px;
    margin-left: 10px;
}
.social {
    display: inline-block;
    padding: 5px;
    margin: 15px;
}
ul li a {
    text-decoration: none;
}
ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
.headerBackground {
    width: 100%;
    height: 550px;
    background-image: url("gears.jpg");
}
.intro {
    text-align: center;
    color: white;
    padding-top: 100px;
}
.contact {
    color: black;
}
.subtype {
    color: gray;
}
.statsDiv {
    background-color: #F0F0F0;
    height: 350px;
    font-size: 30px;
}
.statsList {
    text-align: center;
    display: inline;
    height: 100px;
    line-height: 100px;
    white-space: nowrap;
}
.statsListItem {
    list-style-type: inline;
}
.progress-bar {
    background-color: #A6A8A9;
}
.skillHeading {
    font: bold 18px;
    /*    font-size: 18px;
    font-weight: bold; */
}
.vertical {
    margin-top: 75px;
    height: 350px;
    line-height: 50px;
    white-space: nowrap;
}
.statsDiv h4 {
    font-size: 30px;
}
.canDo {
    height: 500px;
}
.heading {
    font: bold 20px;
    /*  font-size: 20px;
    font-weight: bold; */
}
#subtype2 {
    color: gray;
    font-size: 12px;
}
.downloadButton {
    height: 40px;
    width: 110px;
    border: solid orange;
/*    border-color: orange;
    border-style: solid; */
    border-radius: 5%;
    text-align: center;
    padding-top: 6px;
}
.downloadButton a {
    color: black;
    text-decoration: none;
}
.resume {
    font-size: 30px;
}
.contactdiv {
    width: 100%;
    height: 800px;
    background-color: black;
}
.contactUs {
    color: white;
    font-size: 30px;
}
.contactdiv p {
    color: white;
}
.contactdiv .container .row ul {
    color: white;
    font-size: 12px;
}
.infoForm textarea {
    border-radius: 2px;
    margin: 2px;
}
.sbutton {
    background: none;
    border: solid orange;
    font-color: white;
    width: 90px;
    border-radius: 2px;
    margin-left: 3px;
}
.sbutton p {
    color: white;
    font-size: 10px;
    margin-top: 8px;
}
.customerlist li {
    font-size: 20px;
    text-align: center;
    display: inline-block;
    margin: 15px;
}
.contactButton {
    font-size: 12px;
    height: 20px;
    width: 110px;
    border: solid orange;
    /*border-color: orange;
    border-style: solid;*/
    
    border-radius: 5%;
    text-align: center;
    color: black;
    padding: 10px 5px 10px 5px;
    /*padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;*/
    
    text-decoration: none;
}
#owl .item {
    margin: 3px;
}
#owl .item img {
    display: block;
    width: 100%;
    height: auto;
}
.navbar-default {
    background-color: transparent;
    border: none;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-default .navbar-toggle {
    color: #000;
}
.navbar-default .navbar-nav li a {
    color: white;
}