html {
	font-family: Arial;
}
.circle {
	border-radius: 50%;
	background-color: lightgray;
	height: 250px;
	width: 250px;
}

.nav {
	padding: 10px;
	background-color: black;
}

nav a {
	font-size: 80%;
	color: white;
	text-decoration: none;
	margin-right: 12px;
}
.topdiv {
	background-color: lightgray;
	text-align: center;
}

span {
	color: lightgray;
}
p {
	color: lightgray;
}
h1, h2{
	background-color: white;
}







